body{
    background-color: lightgray;
    background-image: url("icon.gif");
}

h1 {
    color: white;
}

h3 {
    background-color: gold;
}

h1, h3 {
    padding: 10px;
    text-align: center;
}

img {
    position: absolute;
    animation-name: bouncing;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

ul {
    background-color: beige;
    width: fit-content;
    margin: auto;
}

@keyframes bouncing {
    0% {left:0px; top:0px;}
    20% {left:600px; top:20px;}
    40% {left:300px; top:400px;}
    60% {left:0px; top:200px;}
    80% {left:50px; top:800px;}
    100% {left:0px; top:0px;}
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}