#Header {
    width: 1150px;
    border: solid 70px black;
    width: 1150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-bottom: 15px;
    padding: 15px;
    border-image: url(chris.jpg) 33% round;
}
